@import '@/styles/globals.scss';

.dropDownContainer {
  position: relative;
  display: inline-block;
}

.dropDownButton {
  background-color: $blue5;
  color: $blue60;
  padding: 8px 12px;
  border: 1px solid $blue20;
  border-radius: 12px;
  font-family: 'Pretendard-Regular', sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;

  @include B14M; 
}

.label {
  font-family: 'Pretendard-Regular', sans-serif;
  color: $blue60;
  @include T14B; 
}

.dropDownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: $blue5;
  border: 1px solid $blue20;
  border-radius: 8px;
  margin-top: 4px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropDownItem {
  padding: 8px 12px;
  color: $blue60;
  font-family: 'Pretendard-Regular', sans-serif;
  cursor: pointer;
  @include B14M; 

  &:hover {
    background-color: $blue10;
  }
}
