@import '@/styles/globals.scss';

.toggle {
  display: flex;
  align-items: center;
  background-color: $gray10;
  border-radius: 100px;
  padding: 4px;
  width: fit-content;
}

.toggleOption {
  @include T14B;
  color: $gray40;
  background: none;
  border: none;
  padding: 4px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition:
    color 0.2s,
    background-color 0.2s;

  &.active {
    background-color: $white;
    color: $blue60;
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.08);
  }

  &.specialActive {
    color: $green60;
  }
}
