@import '@/styles/globals.scss';
@import '@/components/Lesson/LocalFilter/LocalFilter.module.scss';

.popularSportsContainerWrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.popularSportsContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 345px;
  max-width: 598px;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: $white;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  border-top: 1px solid $gray20;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  overflow: visible;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 93px 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 16px 16px 0;
}

.title {
  @include T16B;
  color: $gray90;
  align-self: flex-start;
  margin-bottom: 16px;
}

.sportsList {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .popularSportsContainer {
    max-width: 100vw;
  }
}

.indicatorWrapper {
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.customBottomSheet {
  @extend .bottomSheet;
  padding-bottom: 90px;
}
