@import '@/styles/globals.scss';

.container {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 31;
}

.selectedValue {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  padding: 6px 10px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid $gray20;
  background-color: $white;
  color: $gray60;
  @include B14M;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    border: 1px solid $blue20;
  }
}

.selectedDropdown {
  border: 1px solid $blue20;
  background-color: $blue5;
  color: $blue60;
}

.bottomSheet {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  background-color: $white;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 32;
  border: 1px solid $gray20;
  padding: 0 24px 8px;

  .title {
    color: #222;
    @include T18B;
  }

  .indicatorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: grab;
  }

  .optionList {
    max-height: 300px;
    overflow-y: auto;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option {
      padding-bottom: 12px;
      border-bottom: 1px solid #f1f1f1;
      cursor: pointer;
      @include B14M;
      color: $gray70;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 10px;

      &:hover {
        color: $blue50;
      }
    }

    .selected {
      color: $blue60;
    }
  }
}

.optionList::-webkit-scrollbar {
  width: 6px;
}

.optionList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.optionList::-webkit-scrollbar-thumb {
  background: $blue50;
  border-radius: 10px;
}

.optionList::-webkit-scrollbar-thumb:hover {
  background: $blue60;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
