@import '@/styles/globals';

.reviewWrapper {
  margin: 24px 0 16px 0;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  .headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;

    .reviewTitle {
      @include T16B;
      color: $gray90;
    }

    .ratingSummary {
      display: flex;
      align-items: center;
      gap: 4px;

      .averageRating {
        @include T16B;
        color: $gray90;
      }

      .reviewCount {
        @include T16B;
        color: $gray50;
      }
    }
  }

  .writeReviewButton {
    @include T14B;
    color: $blue60;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.reviewContainer {
  padding: 24px 20px;
  background: $white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.reviewItem {
  padding-bottom: 12px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile {
      display: flex;
      gap: 8px;
      align-items: center;

      .nameDate {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .name {
        @include B14M;
        color: $gray90;
      }

      .date {
        @include C12M;
        color: $gray60;
      }
    }
  }

  .rating {
    display: flex;
    gap: 4px;
    margin: 8px 0;
  }

  .content {
    @include B14R;
    color: $gray80;
    margin: 0 8px 0 40px;
  }
}
.reviewContainer {
  padding: 24px 20px;
  background: $white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 28px; 
}

.reviewItem {
  padding-bottom: 12px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile {
      display: flex;
      gap: 8px;
      align-items: center;

      .nameDate {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .name {
        @include B14M;
        color: $gray90;
      }

      .date {
        @include C12M;
        color: $gray60;
      }
    }
  }

  .rating {
    display: flex;
    gap: 4px;
    margin: 8px 0;
  }

  .content {
    @include B14R;
    color: $gray80;
    margin-left: 40px;
  }
}

.emptyContainer {
  background-color: $white;
  padding: 56px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @include B14M;
  color: $gray50;
  @include Drag;
}
