@import '@/styles/globals';

.container {
  width: 100%;
  min-height: calc(100vh - 113px);
  padding: 12px 20px 84px 20px;
  background-color: $gray10;
}

.name {
  @include T20B;
  color: $gray90;
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.titleBtnSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.title {
  width: 100%;
  @include T16B;
  color: $gray90;
}

.addressWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include B14M;
  color: $gray80;
  cursor: pointer;

  .address {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .rightIcon {
    display: flex;
    align-items: center;
  }
}

.mapContainer {
  width: 100%;
  height: 194px;
  border-radius: 12px;
  border: 2px solid $white;
  margin: 8px 0 12px;
  cursor: pointer;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-color: $white;
  border-radius: 12px;
}

.facilityInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.labelValue {
  @include B14M;
  display: flex;
  gap: 16px;

  .label {
    width: 48px;
    color: $gray50;
  }

  .highlight {
    color: $blue60;
  }

  .value {
    color: $gray80;
  }
}
