@import '@/styles/globals.scss';

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: 12px;
  border: solid 1px $gray20;
  padding: 16px 20px;
  cursor: pointer;

  &.read {
    opacity: 0.5;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  display: flex;
  @include B14M;
  color: $gray90;

  .storeName {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: $mobile) {
      max-width: 80px;
    }
  }
}

.information {
  max-width: 440px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  @include C12M;
  color: $gray60;
  margin-left: 20px;

  @media (max-width: $mobile) {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.leftTime {
  @include C10M;
  color: $gray70;
}
