@import '@/styles/globals';

.container {
  width: 100%;
  max-width: 598px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 0 20px;
  background-color: $gray10;
  position: fixed;
  top: 0;
  z-index: 10;
}

.btnContainer {
  cursor: pointer;
}

.menu {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.menu.show {
  opacity: 1;
  transform: translateY(0);
}
