@import '@/styles/globals.scss';

.container {
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: center;
  gap: 11px;
  border-radius: 12px;
  border: 1px solid $blue20;
  background-color: $white;
  transition: border 0.3s ease;

  &:focus-within {
    border: 1px solid $blue30;
  }

  .inputContainer {
    width: 100%;
    @include B14M;
    border: none;
    outline: none;
  }
}
