@import '@/styles/globals.scss';

.container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  text-align: center;
}

.checked {
  padding: 7px 12px;
  @include B14M;
  color: $blue60;
  border: 1px solid $blue60;
  background-color: $blue5;
}

.checkedSP {
  padding: 7px 12px;
  @include B14M;
  color: $green80;
  border: 1px solid $green30;
  background-color: $green5;
}

.unchecked {
  padding: 7px 12px;
  @include B14M;
  color: $gray60;
  border: 1px solid $gray20;
  background-color: $white;
}

.label {
  padding: 6px 10px;
  color: $gray90;
  background-color: $white;
  @include C12M;
}

.sports {
  padding: 0px 8px;
  border-radius: 8px;
  color: $blue60;
  background-color: $blue10;
  @include B14M;
}

.sportsSP {
  padding: 0px 8px;
  border-radius: 8px;
  color: $green80;
  background-color: $green10;
  @include B14M;
}

.count {
  display: flex;
  padding: 3px 6px;
  align-items: center;
  border-radius: 4px;
  background-color: $gray10;
  @include C10M;
  color: $gray70;
}

.countHigh {
  display: flex;
  padding: 3px 6px;
  align-items: center;
  border-radius: 4px;
  background-color: $gray10;
  @include C10M;
  color: $gray70;
  animation: blink 1.5s infinite;
}

.top {
  display: flex;
  padding: 3px 6px;
  align-items: center;
  border-radius: 4px;
  background-color: $blue5;
  @include C10B;
  color: $blue60;
}

.topSP {
  display: flex;
  padding: 3px 6px;
  align-items: center;
  border-radius: 4px;
  background-color: $green5;
  @include C10B;
  color: $green80;
}

.like {
  display: flex;
  align-items: center;
  gap: 1px;
  @include C10M;
  color: $gray70;
}

.average {
  display: flex;
  align-items: center;
  gap: 1px;
  @include C10M;
  color: $gray70;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 0 rgb(255, 234, 0);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 0 rgb(255, 234, 0);
  }
}
