@import '@/styles/globals.scss';

.container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  text-align: center;
}

.checked {
  padding: 7px 12px;
  @include B14M;
  color: $blue60;
  border: 1px solid $blue60;
  background-color: $blue5;
}

.unchecked {
  padding: 7px 12px;
  @include B14M;
  color: $gray60;
  border: 1px solid $gray20;
  background-color: $white;
}

.label {
  padding: 6px 10px;
  color: $blue60;
  background-color: $white;
  @include C12M;
}

.sports {
  padding: 0px 8px;
  border-radius: 8px;
  color: $blue60;
  background-color: $blue10;
  @include B14M;
}

.count {
  display: flex;
  padding: 3px 6px;
  align-items: center;
  border-radius: 4px;
  background-color: $gray10;
  @include C10M;
  color: $gray70;
}

.top {
  display: flex;
  padding: 3px 6px;
  align-items: center;
  border-radius: 4px;
  background-color: $blue5;
  @include C10B;
  color: $blue60;
}
