@import '@/styles/globals';

.container {
  width: 100%;
  max-width: 598px;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 20;

  @media (max-width: $mobile) {
    width: 100vw;
  }
}

.headerContainer {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 0 20px;
}

.btnContainer {
  cursor: pointer;
}

.tabs {
  display: flex;
  position: relative;
  border-bottom: 1px solid $gray10;
  padding: 4px 20px 0;

  .button {
    display: flex;
    justify-content: center;
    width: 70px;
    padding-bottom: 6px;
    background-color: $white;
    color: $gray50;
    border: none;
    @include T16B;
    cursor: pointer;
    @include Drag;
    position: relative;

    .dot {
      position: absolute;
      right: 15px;
      bottom: 18px;
    }

    &:hover {
      color: $gray70;
    }

    &.active {
      color: $blue60;
    }

    &.activeSP {
      color: $green80;
    }
  }

  .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 70px;
    background-color: $blue60;
    z-index: 200;
    transform: translateX(0);
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  }

  .underlineSP {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 70px;
    background-color: $green80;
    z-index: 200;
    transform: translateX(0);
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  }
}
