@import '@/styles/globals.scss';

.positionButton {
  position: absolute;
  right: 32px;
  top: 68px;
  cursor: pointer;
  z-index: 30;
  width: 40px;
  height: 40px;

  img {
    transition:
      transform 0.2s ease,
      opacity 0.2s ease;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}
