@import '@/styles/globals';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  max-width: 600px;
  height: 56px;
  background-color: $white;
  border-bottom: 1px solid $gray20;
  position: fixed;
  top: 0;
  z-index: 10;

  @media (max-width: $mobile) {
    max-width: 100%;
  }
}

.favicon {
  width: 24px;
  height: 24px;
}

.toggle-button-container {
  display: flex;
  align-items: center;
}

.btnContainer {
  cursor: pointer;
}