@import '@/styles/globals.scss';

.button {
  background-color: $blue60;
  color: $white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  @include B16M;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;

  width: 100%;
  max-height: 52px;

  &:hover {
    background-color: darken($blue60, 10%);
  }

  &:active {
    background-color: darken($blue60, 20%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray30;
  }
}

.buttonSP {
  background-color: $green70;
  color: $white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  @include B16M;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;

  width: 100%;
  max-height: 52px;

  &:hover {
    background-color: darken($green70, 10%);
  }

  &:active {
    background-color: darken($green70, 20%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray30;
  }
}
