@import '@/styles/globals.scss';

.toggle {
  display: flex;
  align-items: center;
  background-color: $gray10;
  border-radius: 100px;
  padding: 4px;
  position: relative;
}

.slider {
  position: absolute;
  background-color: $white;
  border-radius: 100px;
  transition: transform 0.4s ease-in-out;
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;

  .stateText {
    @include T14B;
    color: $gray40;
    transition: color 0.4s ease-in-out;
  }

  &.general {
    .stateText {
      color: $blue60;
    }
  }

  &.special {
    .stateText {
      color: $green60;
    }
  }
}

.toggleOption {
  @include T14B;
  color: $gray40;
  background: none;
  border: none;
  padding: 4px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition:
    color 0.4s ease-in-out,
    background-color 0.4s ease-in-out;

  &.active {
    color: $blue60;
  }

  &.specialActive {
    color: $green60;
  }
}
