@import '@/styles/globals.scss';

.gnb {
  width: 100%;
  max-width: 598px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 6px 12px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid $gray20;
  background-color: $white;
  z-index: 10;

  @media (max-width: $mobile) {
    max-width: 100%;
  }
}

.navItem {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.label {
  @include C12M;
  color: $gray30;
  flex: 1;
}

.generalLabel {
  @include C12M;
  color: $blue50;
}

.specialLabel {
  @include C12M;
  color: $green70;
}
