@import '@/styles/globals.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 12px 20px 16px;
  background-color: $white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 598px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  z-index: 10;
  @include Drag;
}

.likeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $gray10;
}

.customButton {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
