@import '@/styles/globals.scss';

.facilityInfoContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  background-color: $white;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 7;
  border: 1px solid $gray20;

  .indicatorWrapper {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }

  .content {
    padding: 0 24px 34px 24px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;

    h1 {
      @include T20B;
      color: $gray90;
      margin-right: 2px;
      display: inline-block;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .rightIconWrapper {
      cursor: pointer;
    }

    .closeIconWrapper {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .chipsContainer {
    padding: 12px 0 20px 0;
  }

  .addressWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 4px;

    .addressInfo {
      @include B14R;
      color: $gray80;

      .iconPlaceholder {
        margin-right: 8px;
        color: $blue60;
      }
    }
  }

  .facilityDetails {
    padding: 16px;
    background-color: $gray10;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .contactRow {
      display: flex;
      gap: 16px;

      .label {
        color: $gray50;
        font-weight: 600;
        font-size: 14px;
        width: 48px;
        @include B14M;
      }

      .value {
        color: $gray80;
        @include B14M;
      }
    }
  }
}
