// 수정중
@import '@/styles/globals.scss';

.facilityInfoContainer {
  padding: 10px;
  background-color: $white;
  border-radius: 12px;
  margin: 10px 0;

  h3 {
    @include B14M;
    margin-bottom: 5px;
  }

  p {
    margin: 3px 0;
  }
}