@import '@/styles/globals.scss';

.facilityInfoContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  background-color: $white;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 7;
  border: 1px solid $gray20;

  .indicatorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }

  .content {
    padding: 0 24px 24px 24px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    h1 {
      @include T20B;
      color: $gray90;
      margin-right: 2px;
      display: inline-block;
      cursor: pointer;
    }

    .rightIconWrapper {
      cursor: pointer;
    }

    .closeIconWrapper {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .chipsContainer {
    padding: 12px 0 20px 0;
  }

  .addressInfo {
    display: flex;
    align-items: center;
    @include B14R;
    color: $gray70;
    margin-bottom: 16px;

    .iconPlaceholder {
      margin-right: 8px;
      color: $blue60;
    }
  }

  .facilityDetails {
    padding: 16px;
    background-color: $gray10;
    border-radius: 12px;

    .contactRow {
      display: flex;
      justify-content: space-between;
      margin: 12px 0;

      .label {
        color: $blue60;
        font-weight: 600;
        font-size: 14px;
      }

      .value {
        color: $gray80;
        font-size: 14px;
      }
    }
  }
}
