@import '@/styles/globals.scss';

.container {
  width: 100%;
  min-height: calc(100vh - 121px);
  padding: 0 20px 20px;
  background-color: $gray10;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include Drag;

  .removeAll {
    @include C12M;
    color: $gray50;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
}

.titleCounterWrapper {
  display: flex;
  align-items: center;
  gap: 5px;

  .title {
    @include T16B;
    color: $gray90;
  }

  .counter {
    @include T16B;
    color: $blue60;
  }

  .counterSP {
    @include T16B;
    color: $green80;
  }
}

.notiWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-grow: 1;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .mainText {
    color: $gray90;
    @include T16B;
  }

  .subText {
    color: $gray60;
    @include B14R;
  }
}
