@import '@/styles/globals.scss';

$padding: 20px;
$title-font-size: 1.5rem;
$title-margin-bottom: 10px;
$icon-gap: 10px;
$section-margin: 30px;
$text-color: $gray90;
$border-color: $gray20;

.container {
  padding: $padding;
  max-width: 600px;
  margin: 0 auto;
  background-color: $white;
  color: $text-color;
}
.title {
  font-size: $title-font-size;
  font-weight: 600;
  color: $text-color;
  margin-bottom: $title-margin-bottom;
  text-align: center;
}

.iconGroup {
  display: flex;
  gap: $icon-gap;
  align-items: center;
  margin-bottom: $section-margin;
}

.section {
  margin: $section-margin 0;
  border: none;
  border-top: 1px solid $border-color;
}

.iconDescription,
.toggleLabel {
  font-size: 1rem;
  font-weight: 500;
  color: $gray60;
  margin-bottom: 12px;
}

.toggleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $section-margin;
}

.headerContainer {
  margin-top: $section-margin;
  padding-top: $padding;
}
