@import '@/styles/globals.scss';

.previewPage {
  background-color: $gray10;
  padding: 24px;
  min-height: 100vh;
}

.mainTitle {
  @include T24B;
  margin-bottom: 24px;
  color: $gray90;
  text-align: center;
}
// 요소 색상에 맞춰 가시성이 더 높은 색상을 선택하여 사용하기
.section {
  background-color: $white;
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.sectionBlue {
  background-color: $blue10;
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.sectionTitle {
  @include T20B;
  color: $gray80;
  margin-bottom: 12px;
}

.description {
  @include B16M;
  color: $gray60;
  margin-bottom: 16px;
}

.iconGroup {
  display: flex;
  gap: 16px;
  align-items: center;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100px;
}