@import '@/styles/globals.scss';

.sportButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 12px;

  &:hover {
    background-color: $gray10;
    transform: scale(1.05);
  }

  &.selected {
    background-color: $blue10; 
    border: 1px solid $blue50; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    .label {
      color: $blue60; 
      @include B14M; 
    }
  }
}

.iconContainer {
  width: 50px;
  height: 50px;
  background-color: $gray10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;

  .selected & {
    background-color: $blue20; 
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.label {
  margin-top: 8px;
  @include C12M;
  color: $gray90;
  text-align: center;
  transition: color 0.2s ease;

  .selected & {
    color: $blue60;
  }
}
