@import '@/styles/globals';

.box {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-color: $white;
  border-radius: 12px;
}

.labelValue {
  @include B14M;
  display: flex;
  gap: 16px;

  .label {
    width: 48px;
    color: $gray50;
  }

  .highlight {
    color: $blue60;
  }

  .highlightSP {
    color: $green80;
  }

  .value {
    color: $gray80;
  }
}
