@import '@/styles/globals.scss';

.indicatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  cursor: grab;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: $white; 
  z-index: 10;
}
