@import '@/styles/globals';

.container {
  width: 100%;
  min-height: calc(100vh - 121px);
  background-color: $gray10;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  gap: 5px;

  .title {
    @include T16B;
    color: $gray90;
  }

  .counter {
    @include T16B;
    color: $blue60;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-grow: 1;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .mainText {
    color: $gray90;
    @include T16B;
  }

  .subText {
    color: $gray60;
    @include B14R;
  }
}
